.b{
  width: 10%;
}
h1{
  background: red;
  font-size: 70px; text-align: center; color: black
}

h3{
  text-align: center;
}

.textinho{
  style="font-size: 25px"
}

.jogadores{
  style="font-size: 30px"
}
